
.vs/ProjectEvaluation/veterinaria_proyecto_backend.metadata.v6.1
.vs/ProjectEvaluation/veterinaria_proyecto_backend.projects.v6.1
.vs/Veterinaria_Proyecto_BackEnd/config/applicationhost.config
.vs/Veterinaria_Proyecto_BackEnd/v17/.futdcache.v2
.vs/Veterinaria_Proyecto_BackEnd/v17/.suo
.vs/VSWorkspaceState.json
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.deps.json
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.dll
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.exe
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.pdb
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.runtimeconfig.dev.json
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.Views.dll
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.runtimeconfig.json
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.Views.pdb
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/apphost.exe
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/project.razor.vs.json
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Dashboard/Clients.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Dashboard/ClinicHistory.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Dashboard/Index.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Dashboard/Pets.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Dashboard/Products.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Home/catFood.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Home/login.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Home/LogOut.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.build.Veterinaria_Proyecto_BackEnd.props
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildMultiTargeting.Veterinaria_Proyecto_BackEnd.props
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.buildTransitive.Veterinaria_Proyecto_BackEnd.props
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.Veterinaria_Proyecto_BackEnd.Microsoft.AspNetCore.StaticWebAssets.props
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/staticwebassets/Veterinaria_Proyecto_BackEnd.StaticWebAssets.Manifest.cache
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/staticwebassets/Veterinaria_Proyecto_BackEnd.StaticWebAssets.Pack.cache
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.csproj.BuildWithSkipAnalyzers
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.csproj.CopyComplete
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.csproj.CoreCompileInputs.cache
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.csproj.FileListAbsolute.txt
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.dll
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.genruntimeconfig.cache
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.MvcApplicationPartsAssemblyInfo.cache
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.pdb
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.RazorTargetAssemblyInfo.cache
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.RazorTargetAssemblyInfo.cs
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.Views.dll
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.Views.pdb
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.TagHelpers.output.cache
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.TagHelpers.input.cache
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto_BackEnd.RazorCoreGenerate.cache
