/.vs
.vs/Veterinaria_Proyecto/FileContentIndex/1335d77d-9699-46f0-a4a6-5b300bb24760.vsidx
.vs/Veterinaria_Proyecto/v17/.futdcache.v2
.vs/Veterinaria_Proyecto/v17/.suo
*.v2
*.dll
*.pdb
*.json
*.cs
*.cache
*.dll
*.pdb
.vs/Veterinaria_Proyecto/v17/.suo
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.dll
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.pdb
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.dll
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.pdb
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.Views.pdb
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.pdb
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.Views.pdb
